<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update</title>
</head>

<body style="background-color: aliceblue;">
    <h1 style="text-align: center;color: blue;">Update Data</h1>
    <hr>

    <form method="post">
        {% csrf_token %}
        <input type="text" name="name" placeholder="Name" value="{{stid.name}}"> <br> <br>
        <input type="email" name="email" placeholder="Email" value="{{stid.email}}"> <br> <br>
        <input type="number" name="mobile" placeholder="Mobile" value="{{stid.mobile}}"> <br> <br>
        <input type="date" name="dob" value="{{stid.dob | date:'Y-m-d'}}"> <br> <br>
        <input type="submit" value="Update">
    </form>
    <hr>
    <a href="/showdata">Showdata</a>
</body>

</html>